# EMSE-4197-PYTHON-BOOTCAMP

## Part 1: Print Function and Comments

Python has a built in function that outputs things to the console window for us. This function is called print.

We’re going to cover functions in a lot of detail throughout this series, but for now you can think of functions as bundles of code that we can run to perform some specific action.

Somebody else has kindly written the (quite complicated) code that allows us to print things to the console, and they've bundled it up in a function called print. We can run this function to perform the action of printing.

The process of running a function like this is often referred to as “calling” a function.

Instead of "calling", some say "running" or "executing" a function. They all mean the same thing!

Let's call the print function to print the value 4 to the console:

Print Documentation: https://docs.python.org/3/library/functions.html#print

In [2]:
print(4)

4

We can use this function multiple times if we want to, and values get printed out in the order of our print calls:

In [3]:
print(4)
print(3.141)
print(12345)

4
3.141
12345

Let’s look at a few more examples:

In [4]:
print(1 + 2)
print(3.4 + 11)
print(8 + 4.0)

3
14.4
12.0

There is a specific syntax in Python, like all languages. Python requires one statement per line OR statements separated by semi-colons, but the latter is not more common.

In [5]:
# this will fail
print(4) print(5)

SyntaxError: invalid syntax (<ipython-input-5-fa4a9a9faffb>, line 2)

In [6]:
# put print statements on the same line with a semi-colon
# this won't fail
# will still show up on different lines
print(4); print(5)

4
5

You can force items to be printed on the same line by using one print statement or by including the end parameter within the print statement.

In [7]:
# print 4 and 5 on the same line
print(4, end=' ')
print(5)

4 5

In [8]:
# print 4 and 5 on the same line
print(4, 5)

4 5

Display is another built-in function. The display function is specific to IPython environments (such as Jupyter notebooks) and is used to display rich representations of objects. It is more powerful and flexible than print because it can display a variety of formats, such as HTML, images, LaTeX, and more. This is particularly useful in data science and research contexts where you might want to display complex objects like DataFrames, plots, and multimedia.

In our current examples, you will see slight differences.

Display is commonly used when viewing dataframes and more complex objects in Python. We will stick with print for now.

In [9]:
display(4)

4

In [10]:
# print will put this on the same line but display separate lines
display(4, 5)

4

5

Comments are written with the # sign. Anything after a # sign (on the same line) will be treated as a comment in Python.

In [11]:
# this is a comment
this is not a comment

SyntaxError: invalid syntax (<ipython-input-11-73d28f79e00b>, line 2)

In [13]:
# this is also a comment
2 + 2 # this is also a comment

4

In [14]:
2 + #2 be careful where you put your comments

SyntaxError: invalid syntax (<ipython-input-14-9f188fb44e8b>, line 1)

In [12]:
####### you can also have as many #'s as you want
## a cell with only comments will have no output

### Numbers, Arithmetic, and Object Assignment

In the following section we will learn about the following topics:

    1.) Types of Numbers in Python
    2.) Basic Arithmetic
    3.) Differences between classic division and floor division
    4.) Object Assignment in Python

## Types of numbers

Python has various "types" of numbers (numeric literals). We'll mainly focus on integers and floating point numbers.

- Integers are just whole numbers, positive or negative. For example: 2 and -2 are examples of integers.

- Floating point numbers in Python are notable because they have a decimal point in them, or use an exponential (e) to define the number. For example 2.0 and -2.1 are examples of floating point numbers. 4E2 (4 times 10 to the power of 2) is also an example of a floating point number in Python.

Throughout this class we will be mainly working with integers or simple float number types.

Here is a table of the two main types we will spend most of our time working with some examples:

<table>
<tr>
    <th>Examples</th>
    <th>Number "Type"</th>
</tr>

<tr>
    <td>1,2,-5,1000</td>
    <td>Integers</td>
</tr>

<tr>
    <td>1.2,-0.5,2e2,3E2</td>
    <td>Floating-point numbers</td>
</tr>
 </table>



Now let's start with some basic arithmetic.

### Basic Arithmetic

In [15]:
# Addition
2+1

3

In [16]:
# Subtraction
2-1

1

In [17]:
# Multiplication
2*2

4

In [18]:
# more multiplication
2*2*2*2

16

In [19]:
# Division
3/2

1.5

If a math equation in Python3 includes a float, the result will always be a float. If the equation is all integers, the result will be in integer EXCEPT when division is included.

If division is included, the result will be a float in Python3.

In [21]:
# results in a float
4/2

2.0

In [22]:
# results in a float
2.0 * 2

4.0

In [23]:
# results in a float
2.0 + 2

4.0

In [24]:
# results in an integer
2 + 2

4

Floor division in Python is a mathematical operation that divides two numbers and then rounds down the result to the nearest integer. This operation is performed using the // operator.

In [25]:
# Floor Division
# results in an integer
7//4

1

In [27]:
round(7/4)

2

In [28]:
# results in an float (rounded to nearest integer)
7.0//4

1.0

### Arithmetic continued

To square a number or muliply by a power, you use two asteriks instead of one (like for multiplication)

In [29]:
# Powers
# this represents 2^3
2**3

8

In [30]:
# Can also do roots this way
# same thing as square root of 4
# this is 4^(1/2)
4**0.5

2.0

### Order of Operations followed in Python

Python Operators Precedence Rule - PEMDAS

    P – Parentheses.
    E – Exponentiation.
    M – Multiplication.
    D – Division.
    A – Addition.
    S – Subtraction.

In Python, the order of operations, also known as precedence rules, determines how an expression is evaluated. These rules are similar to the standard mathematical precedence rules. Understanding these rules is crucial for writing correct expressions and avoiding common bugs. Here's the list, from highest precedence to lowest:
1. Parentheses ()

    Used to override the standard precedence: expressions inside parentheses are evaluated first.

2. Exponentiation **

    Right-to-left associativity (e.g., 2 ** 3 ** 2 is interpreted as 2 ** (3 ** 2)).

3. Unary Plus and Minus +x, -x

    Unary plus and minus operators (not to be confused with addition and subtraction).

4. Multiplication *, Division /, Floor Division //, Modulus %

    Left-to-right associativity.

5. Addition +, Subtraction -

    Left-to-right associativity.

6. Bitwise Shift Operators <<, >>

    Left-to-right associativity.

7. Bitwise AND &

    Left-to-right associativity.

8. Bitwise XOR ^

    Left-to-right associativity.

9. Bitwise OR |

    Left-to-right associativity.

10. Comparison Operators ==, !=, >, >=, <, <=, is, is not, in, not in

    No associativity; comparisons yield True or False.

11. Boolean NOT not

    Unary operator with right-to-left associativity.

12. Boolean AND and

    Left-to-right associativity; short-circuit evaluation.

13. Boolean OR or

    Left-to-right associativity; short-circuit evaluation.

14. Conditional Expressions

    x if c else y (evaluate c first; evaluate x only if c is true, otherwise evaluate y).

15. Assignment Operators =, +=, -=, *=, /=, etc.

    Right-to-left associativity; assigns the value of the right expression to the left operand.

In [31]:
# Order of Operations followed in Python
2 + 10 * 10 + 3

105

In [32]:
# Can use parentheses to specify orders
(2+10) * (10+3)

156

#################################################

## Part 1 Exercises

Now that we’ve been through the material for this section, here are a few exercises so that you can practice:

In [33]:
# print the year 2024
print(2024)

2024

In [34]:
# calculate and print the number of days, weeks, and months in 27 years.
print(27*365)
print(27*365/7)
print(27*365/30)

9855
1407.857142857143
328.5

In [35]:
# calculate and print the area of a circle with a radius of 5 units. You can be as accurate as you like with the value of pi.
print(3.14159*5**2)

78.53975

In [36]:
# with a package
import math
print(math.pi*5**2)

78.53981633974483

In [37]:
# what type of data type will the output be? why?

(2 * 2 * 2.0)//2

# the output will be a float because a float was used in the calculation

4.0

In [38]:
# what will be printed to the console? why?
# your answer here: only the 10 will be printed to the screen because it was the last command and a print was not specified for previous commands
(2 * 2 * 2.0)//2
10

10

In [39]:
# what will be printed to the console? why?
# your answer here: both results will be printed
print((2 * 2 * 2.0)//2)
print(10)

4.0
10

In [40]:
# what will be printed to the console? why?
# your answer here: the first calculation and then 10, because it is within one print statement followed by a comma
print(((2 * 2 * 2.0)//2), 10)

4.0 10

In [41]:
# use every part of PEDMAS in one line to create an output
# PEDMAS!!
result = (5 + 3) * (2 ** 3) / 4 - (6 // 4)

# Display the result
print(result)  # Output: 14.0

15.0

The default value in print for the end parameter is '\n' which means new line. So changing this takes away the new line functionality and replaced with a space.

In [60]:
# result 1
result1 = (5 + 3) * (2 ** 3) / 4 - (6 % 4)

# result 2
result2 = (7 - 2) * (4 / 2) + (3 ** 2)

# printing both results on the same line
# the end parameter comes in handly here
print(result1, end='/n')
print(result2)

14.0
19.0

In [49]:
# print the output of two separate equations on the same line with one print statement
print(result1, result2)

14.0 19.0

In [63]:
# print a five times
a = 2

print(a*5)

# that fails because a is not defined anywhere and not a string

10

In [62]:
# string multiplication
print('a' * 5)

aaaaa

In [54]:
# print the smallest prime number and then take it to the power of 100
print(2**100)

1267650600228229401496703205376

In [64]:
# what will be the output of the following and why?
# answer: print returns type of None in Python. You can't add two Nones together.
print(2 + 3) #+ print(3)

5

In [51]:
a = print(4)
print(a)

4
None

Go to the following Python documentation and find parameter(s) we haven't used in the print function. Use one or more in an example below. https://docs.python.org/3/library/functions.html#print.

Example parameters: sep or end

In [ ]:
# your demonstration here

#################################################

## Part 2 - Variable Assignments

Up to this point, we have not stored anything in memory. Everything we have printed or calculated has been "one and done". We would have to rerun the print statements or calculations every time in order to see the values we want.

In comes variables. In Python, a variable is a symbolic name that refers to a value stored in the computer's memory. Variables allow you to store, modify, and access data throughout your code. You can make a calculation, store the result and access it later without having to recalculate the value.

Use a single equals sign to assign labels to variables.

In [83]:
# Let's create an object called "a" and assign it the number 5
a = 5

In [84]:
a

5

In [75]:
print(a)

5

In [76]:
type(a)

int

Now if I call *a* in my Python script, Python will treat it as the number 5.

In [77]:
# Adding the objects
a+a

10

What happens on reassignment?

In [86]:
# Reassignment
a = 10

In [87]:
# Check
a

10

Python allows you to write over assigned variable names.

In [88]:
# Check
a

10

In [89]:
# Use A to redefine A
a = a + a

In [91]:
# Check
a

20

One of the most common mistakes is overwriting variables at some point in a notebook or Python script without realizing it.

When needing to keep track of previous variables in a process, just create new variables as you go!

In [101]:
a = 5
b = a + a
c = b + b

print(a)
print(b)
print(c)

5
10
20

Be careful about what and how you include Python in your cells. For example, if you separate code into different cells, make sure you rerun all relevant cells or restart your Kernel, otherwise variables could potentially compound.

In [104]:
# compounding variable
a = a + 10

# why is this different every time we run the cell?
print(a)

35

# Rules for variable names
The names you use when creating these labels need to follow a few rules:

    1. Names can not start with a number.
    2. There can be no spaces in the name, use _ instead.
    3. Can't use any of these symbols :'",<>/?|\()!@#$%^&*~-+
    4. It's considered best practice (PEP8) that names are lowercase.
    5. Avoid using the characters 'l' (lowercase letter el), 'O' (uppercase letter oh),
       or 'I' (uppercase letter eye) as single character variable names.
    6. Avoid using words that have special meaning in Python like "list" and "str"


Using variable names can be a very useful way to keep track of different variables in Python. For example:

* names can not start with a number
* names can not contain spaces, use _ intead
* names can not contain any of these symbols:


      :'",<>/?|\!@#%^&*~-+
       
* it's considered best practice ([PEP8](https://www.python.org/dev/peps/pep-0008/#function-and-variable-names)) that names are lowercase with underscores
* avoid using Python built-in keywords like `list` and `str`
* avoid using the single characters `l` (lowercase letter el), `O` (uppercase letter oh) and `I` (uppercase letter eye) as they can be confused with `1` and `0`

Variable names should be intuitive and descriptive of what is being stored.

For example, tax_rate is a better variable name than t_r8.

In [105]:
# Use object names to keep better track of what's going on in your code!
my_purchase = 100

tax_rate = 0.06

# nothing will be displayed - remember?
my_taxes = my_purchase*tax_rate

In [106]:
# Show my taxes!
my_taxes

6.0

## Dynamic Typing

Python uses *dynamic typing*, meaning you can reassign variables to different data types. This makes Python very flexible in assigning data types; it differs from other languages that are *statically typed*.

In [107]:
best_friends = 2

In [108]:
best_friends

2

In [109]:
# this over writes the previous variable
# this is a list of strings (more to come)
best_friends = ['Ghost', 'Pepper']

In [110]:
# print the new variable
best_friends

['Ghost', 'Pepper']

## Assigning Variables
Variable assignment follows `name = object`, where a single equals sign `=` is an *assignment operator*

In [111]:
a = 8

In [112]:
a

8

we can assign `a` to something else:

In [113]:
a = 12

In [114]:
a

12

You can now use `a` in place of the number `10`:

In [ ]:
a + a

## Reassigning Variables
Python lets you reassign variables with a reference to the same object.

In [ ]:
a = a + 38

In [ ]:
a

# String Formatting

String formatting is a way to display information as text.

String formatting lets you inject items into a string rather than trying to chain items together using commas or string concatenation. As a quick comparison, consider:

    student1 = 'Alex'
    Grade = 90
    
    'Last semester, '+student1+' got '+str(Grade)+' in the exam.'  # concatenation
    
    f'Last semester, {student1} got {Grade} in exam.'          # string formatting

In [118]:
# example variable holding string data
student1 = 'Alex'

# variable holding an integer
Grade = 90

# string formatting via concatenation
'Last semester, '+student1+' got a '+str(Grade)+' on the exam.'  # concatenation

'Last semester, Alex got a 90 on the exam.'

In [123]:
'Hi'+ ' '+ 'There'

'Hi There'

An f-string, or formatted string literal, is a way to embed expressions inside string literals using curly braces {}. Introduced in Python 3.6, f-strings provide a concise and readable way to include variable values and expressions within strings.

In [124]:
f'Last semester, {student1} got {Grade} in exam.'  # string formatting

'Last semester, Alex got 90 in exam.'


There are three ways to perform string formatting.
* The oldest method involves placeholders using the modulo `%` character.
* An improved technique uses the `.format()` string method.
* The newest method, introduced with Python 3.6, uses formatted string literals, called *f-strings*.

Since you will likely encounter all three versions in someone else's code, we describe each of them here.

## Formatted String Literals (f-strings)

Introduced in Python 3.6, f-strings offer several benefits over the older `.format()` string method.

We can bring outside variables immediately into to the string rather than pass them as arguments through `.format(var)`.

In [ ]:
name = 'Jennifer'

# most common method of string formatting
print(f"She said her name is {name}.")

Pass `!r` to get the string representation:

In [ ]:
# I am yet to see this somewhere other than this class
print(f"He said his name is {name!r}")

# Strings

Strings are used in Python to record text information, such as names.

Strings in Python are actually a *sequence*, which basically means Python keeps track of every element in the string as a sequence.

## Creating a String
To create a string in Python you need to use either single quotes or double quotes. For example:

In [125]:
# Single word
'hello'

'hello'

In [126]:
# this won't print anything, remember?
a = 'string'

In [127]:
print(a)

string

In [128]:
# Entire phrase
'This is also a string'

'This is also a string'

In [129]:
# We can also use double quote
"String built with double quotes"

'String built with double quotes'

In [130]:
# Be careful with quotes!
' I'm using single quotes, but this will create an error'

SyntaxError: unterminated string literal (detected at line 2) (<ipython-input-130-da9a34b3dc31>, line 2)

The reason for the error above is because the single quote in <code>I'm</code> stopped the string. You can use combinations of double and single quotes to get the complete statement.

In [134]:
# Be careful with quotes!
"I'm using single quotes, but this won't create an error"

"I'm using single quotes, but this won't create an error"

In [132]:
# Be careful with quotes!
' I"m using single quotes, but this won"t create an error'

' I"m using single quotes, but this won"t create an error'

Now let's learn about printing strings!

## Printing a String

Using Jupyter notebook with just a string in a cell will automatically output strings, but the correct way to display strings in your output is by using a print function.

In [135]:
# We can simply declare a string
'Hello World'

'Hello World'

In [136]:
# Note that we can't output multiple strings this way
'Hello World 1'
'Hello World 2'

'Hello World 2'

We can use a print statement to print a string.

In [137]:
print('Hello World 1')
print('Hello World 2')
print('Use \n to print a new line')
print('\n')
print('See what I mean?')

Hello World 1
Hello World 2
Use
 to print a new line


See what I mean?

## String Basics

We can also use a function called len() to check the length of a string!

Len documentation: https://docs.python.org/3/library/functions.html#len

In [140]:
len('Hello World')

11

Python's built-in len() function counts all of the characters in the string, including spaces and punctuation.

## String Indexing
We know strings are a sequence, which means Python can use indexes to call parts of the sequence. Let's learn how this works.

In Python, we use brackets <code>[]</code> after an object to call its index. We should also note that INDEXING STARTS at 0 for Python. Let's create a new object called <code>s</code> and then walk through a few examples of indexing.

In [141]:
# Assign s as a string
s = 'Hello World'

In [143]:
#Check
print(s)

Hello World

In [144]:
# Print the object
print(s)

Hello World

Let's start indexing!

In [151]:
# Show first element (in this case a letter)
s[5]

' '

In [146]:
s[1]

'e'

In [147]:
s[2]

'l'

In [148]:
s[40]

IndexError: string index out of range

### String Slicing

We can use a

```
string[start:stop:step]
```


to perform *slicing* which grabs everything up to a designated point.

Parameters

start: The index where the slice begins. If omitted, the slice starts from the beginning of the string.

stop: The index where the slice ends (not inclusive). If omitted, the slice goes until the end of the string.

step: The step value specifies the increment between each index for the slice. If omitted, the default is 1.

In [ ]:
# Grab everything past the first term all the way to the length of s which is len(s)
s[1:]

In [ ]:
# Note that there is no change to the original s. We are just grabbing and displaying what we want
s

In [ ]:
# Grab everything UP TO the 3rd index
s[:3]

Note the above slicing. Here we're telling Python to grab everything from 0 up to 3. It doesn't include the 3rd index. You'll notice this a lot in Python, where statements and are usually in the context of "up to, but not including".

In [ ]:
# start at the beginning
# end at character 10
# step every 1 character (so don't skip any)
s[0:11:1]

In [ ]:
# gimme every other character
s[0:11:2]

If end points are not specified, it is assumed you want everything.

In [ ]:
#Everything
s[:]

We can also use negative indexing to go backwards.

In [ ]:
# Last letter (one index behind 0 so it loops back around)
# will return the LAST character in the string
s[-1]

In [ ]:
# Grab everything but the last letter
s[:-1]

Why? The slice s[:-1] in Python means "take all elements of the string s from the beginning up to, but not including, the last character."

We can also use index and slice notation to grab elements of a sequence by a specified step size (the default is 1). For instance we can use two colons in a row and then a number specifying the frequency to grab elements. For example:

In [ ]:
# Grab everything, but go in steps size of 1
s[::1]

In [ ]:
# Grab everything, but go in step sizes of 2
s[::2]

In [ ]:
# We can use this to print a string backwards
# when specifying steps, positive means forward and negative means reverse
s[::-1]

## Mutability

In Python, data types can be categorized as mutable or immutable based on whether their values can be changed after they are created.

### Immutable Data Types

Immutable data types are those whose values cannot be modified after they are created. Any operation that changes the value of an immutable object will create a new object.

1. **Numbers**:
   - `int`
   - `float`
   - `complex`
   - `bool`
   ```python
   a = 5
   a = a + 1  # Creates a new int object with value 6
   ```

2. **Strings** (`str`):
   ```python
   s = "hello"
   s = s + " world"  # Creates a new string object "hello world"
   ```

3. **Tuples** (`tuple`):
   ```python
   t = (1, 2, 3)
   t = t + (4,)  # Creates a new tuple (1, 2, 3, 4)
   ```

4. **Frozen Sets** (`frozenset`):
   ```python
   fs = frozenset([1, 2, 3])
   # fs.add(4)  # This would raise an AttributeError
   ```

### Mutable Data Types

Mutable data types are those whose values can be changed after they are created. These types allow for in-place modification.

1. **Lists** (`list`):
   ```python
   lst = [1, 2, 3]
   lst.append(4)  # Modifies the original list to [1, 2, 3, 4]
   ```

2. **Dictionaries** (`dict`):
   ```python
   d = {"a": 1, "b": 2}
   d["c"] = 3  # Modifies the original dictionary to {'a': 1, 'b': 2, 'c': 3}
   ```

3. **Sets** (`set`):
   ```python
   s = {1, 2, 3}
   s.add(4)  # Modifies the original set to {1, 2, 3, 4}
   ```

4. **Byte Arrays** (`bytearray`):
   ```python
   b = bytearray(b"hello")
   b[0] = ord('H')  # Modifies the original bytearray to bytearray(b'Hello')
   ```

### Summary

- **Immutable Data Types**: `int`, `float`, `complex`, `bool`, `str`, `tuple`, `frozenset`
- **Mutable Data Types**: `list`, `dict`, `set`, `bytearray`

Understanding whether a data type is mutable or immutable is important because it affects how variables and objects behave when they are passed to functions, assigned to new variables, or modified. Mutable types can be changed in place, which can lead to side effects if not handled carefully, while immutable types provide stability and predictability.

## String Properties
It's important to note that strings have an important property known as *immutability*. This means that once a string is created, the elements within it can not be changed or replaced. For example:

In [ ]:
s

In [ ]:
# Let's try to change the first letter to 'x'
s[0] = 'x'

In [ ]:
# however we could create a new variable or overwrite s to make the change
new_s = 'x' + s[1:]
print(new_s)

Notice how the error tells us directly what we can't do, change the item assignment!

Something we *can* do is concatenate strings!

In [ ]:
s

In [ ]:
# Concatenate strings!
s + ' concatenate me!'

In [ ]:
# We can reassign s completely though!
s = s + ' concatenate me!'

In [ ]:
print(s)

In [ ]:
s

We can use the multiplication symbol to create repetition!

In [ ]:
letter = 'z'

In [ ]:
letter*10

## Basic Built-in String methods

Objects in Python usually have built-in methods. These methods are functions inside the object (we will learn about these in much more depth later) that can perform actions or commands on the object itself.

In [ ]:
s

In [ ]:
# Upper Case a string
s.upper()

In [ ]:
# Lower case
s.lower()

In [ ]:
# Split a string by blank space (this is the default)
s.split()

In [ ]:
# Split by a specific element (doesn't include the element that was split on)
s.split('W')

In [ ]:
# typing in s. following by either a pauses or by pressing tab should display available methods (depends on the environment)
s.

In [ ]:
s.endswith?

In [ ]:
s.endswith('!')

In [ ]:
s.endswith('?')

In [ ]:
print?

In [ ]:
help(print)

## Part 2 Exercises

1. **Assigning Strings**:
   - Assign the string `"Hello, World!"` to a variable named `greeting` and print it.



2. **Naming Conventions**:
   - Assign the string `"Python Programming"` to a variable with a name that follows proper naming conventions and print it.

3. **Concatenation**:
   - Create two string variables, `first_name` and `last_name`, and concatenate them to form a full name variable, then print that variable.



4. **Repetition**:
   - Create a string variable `text` with the value `"Python"` and print it repeated 5 times, two different ways.

5. **Basic Slicing**:
   - Given the string `s = "Hello, World!"`, print the substring `"Hello"`.

6. **Negative Indexing**:
   - Given the string `s = "Hello, World!"`, print the substring `"World"` using negative indexing.
   - Then, print "World" backwards.

7. **Skipping Characters**:
   - Given the string `s = "abcdefghijklmnopqrstuvwxyz"`, print every third character, starting from 'd'.

8. **Immutability**:
   - Given the string `s = "immutable"`, try changing the first character to `"I"` and explain why it fails.
   - Then, find a way to print Immutable while also utilizing the original variable s.

9. **f-Strings**:
   - Use an f-string to format and print the variables `name = "Alice"` and `age = 30` in the sentence `"Alice is 30 years old."`.



10. **str.format() Method**:
    - Use the `str.format()` method to print the same sentence as above.



11. **Use str()**:
    - Find the documentation of the str() function. Use it to convert a = 5 to a string.

12. **Uppercase Conversion**:
    - Convert the string `s = "hello"` to uppercase and print it.



13. **Finding a Substring**:
    - Given the string `s = "hello, world"`, find the index of the substring `"world"` and print it.



14. **Replacing Substrings**:
    - Replace the substring `"world"` with `"Python"` in the string `s = "hello, world"` and print the result.



15. **Splitting a String**:
    - Split the string `s = "one, two, three"` by commas and print the resulting list.



16. **Joining Strings**:
    - Join the list `['one', 'two', 'three']` into a single string separated by hyphens and print it.

17. **Printing Variables**:
    - Create a variable `message` with the value `"Hello, World!"` and print it using the `print()` function.



18. **Multi-line Strings**:
    - Create a multi-line string using triple quotes and print it.

19. **Checking Prefix**:
    - Check if the string `s = "Python Programming"` starts with `"Python"` and print the result.

20. **String Reversal**:
    - Write a code snippet to reverse the string `s = "abcdef"` and print the reversed string.