# EMSE-4197-PYTHON-BOOTCAMP - Session 2

# Part 1: Strings Continued

Strings are used in Python to record text information, such as names.

Strings in Python are actually a *sequence*, which basically means Python keeps track of every element in the string as a sequence.

## Creating a String
To create a string in Python you need to use either single quotes or double quotes. For example:

In [ ]:
# Single word
'hello'

In [ ]:
# this won't print anything, remember?
a = 'string'

In [ ]:
print(a)

In [ ]:
# Entire phrase
'This is also a string'

In [ ]:
# We can also use double quote
"String built with double quotes"

In [ ]:
# Be careful with quotes!
' I'm using single quotes, but this will create an error'

The reason for the error above is because the single quote in <code>I'm</code> stopped the string. You can use combinations of double and single quotes to get the complete statement.

In [ ]:
# Be careful with quotes!
"I'm using single quotes, but this won't create an error"

In [ ]:
# Be careful with quotes!
' I"m using single quotes, but this won"t create an error'

Now let's learn about printing strings!

## Printing a String

Using Jupyter notebook with just a string in a cell will automatically output strings, but the correct way to display strings in your output is by using a print function.

In [ ]:
# We can simply declare a string
'Hello World'

In [ ]:
# Note that we can't output multiple strings this way
'Hello World 1'
'Hello World 2'

We can use a print statement to print a string.

In [ ]:
print('Hello World 1')
print('Hello World 2')
print('Use \n to print a new line')
print('\n')
print('See what I mean?')

## String Basics

We can also use a function called len() to check the length of a string!

Len documentation: https://docs.python.org/3/library/functions.html#len

In [ ]:
len('Hello World')

Python's built-in len() function counts all of the characters in the string, including spaces and punctuation.

## String Indexing
We know strings are a sequence, which means Python can use indexes to call parts of the sequence. Let's learn how this works.

In Python, we use brackets <code>[]</code> after an object to call its index. We should also note that INDEXING STARTS at 0 for Python. Let's create a new object called <code>s</code> and then walk through a few examples of indexing.

In [ ]:
# Assign s as a string
s = 'Hello World'

In [ ]:
#Check
print(s)

In [ ]:
# Print the object
print(s)

Let's start indexing!

In [ ]:
# Show first element (in this case a letter)
s[5]

In [ ]:
s[1]

In [ ]:
s[2]

In [ ]:
s[40]

### String Slicing

We can use a

```
string[start:stop:step]
```


to perform *slicing* which grabs everything up to a designated point.

Parameters

start: The index where the slice begins. If omitted, the slice starts from the beginning of the string.

stop: The index where the slice ends (not inclusive). If omitted, the slice goes until the end of the string.

step: The step value specifies the increment between each index for the slice. If omitted, the default is 1.

In [ ]:
# Grab everything past the first term all the way to the length of s which is len(s)
s[1:]

In [ ]:
# Note that there is no change to the original s. We are just grabbing and displaying what we want
s

In [ ]:
# Grab everything UP TO the 3rd index
s[:3]

Note the above slicing. Here we're telling Python to grab everything from 0 up to 3. It doesn't include the 3rd index. You'll notice this a lot in Python, where statements and are usually in the context of "up to, but not including".

In [ ]:
# start at the beginning
# end at character 10
# step every 1 character (so don't skip any)
s[0:11:1]

In [ ]:
# gimme every other character
s[0:11:2]

If end points are not specified, it is assumed you want everything.

In [ ]:
#Everything
s[:]

We can also use negative indexing to go backwards.

In [ ]:
# Last letter (one index behind 0 so it loops back around)
# will return the LAST character in the string
s[-1]

In [ ]:
# Grab everything but the last letter
s[:-1]

Why? The slice s[:-1] in Python means "take all elements of the string s from the beginning up to, but not including, the last character."

We can also use index and slice notation to grab elements of a sequence by a specified step size (the default is 1). For instance we can use two colons in a row and then a number specifying the frequency to grab elements. For example:

In [ ]:
# Grab everything, but go in steps size of 1
s[::1]

In [ ]:
# Grab everything, but go in step sizes of 2
s[::2]

In [ ]:
# We can use this to print a string backwards
# when specifying steps, positive means forward and negative means reverse
s[::-1]

## Mutability

In Python, data types can be categorized as mutable or immutable based on whether their values can be changed after they are created.

### Immutable Data Types

Immutable data types are those whose values cannot be modified after they are created. Any operation that changes the value of an immutable object will create a new object.

1. **Numbers**:
   - `int`
   - `float`
   - `complex`
   - `bool`
   ```python
   a = 5
   a = a + 1  # Creates a new int object with value 6
   ```

2. **Strings** (`str`):
   ```python
   s = "hello"
   s = s + " world"  # Creates a new string object "hello world"
   ```

3. **Tuples** (`tuple`):
   ```python
   t = (1, 2, 3)
   t = t + (4,)  # Creates a new tuple (1, 2, 3, 4)
   ```

4. **Frozen Sets** (`frozenset`):
   ```python
   fs = frozenset([1, 2, 3])
   # fs.add(4)  # This would raise an AttributeError
   ```

### Mutable Data Types

Mutable data types are those whose values can be changed after they are created. These types allow for in-place modification.

1. **Lists** (`list`):
   ```python
   lst = [1, 2, 3]
   lst.append(4)  # Modifies the original list to [1, 2, 3, 4]
   ```

2. **Dictionaries** (`dict`):
   ```python
   d = {"a": 1, "b": 2}
   d["c"] = 3  # Modifies the original dictionary to {'a': 1, 'b': 2, 'c': 3}
   ```

3. **Sets** (`set`):
   ```python
   s = {1, 2, 3}
   s.add(4)  # Modifies the original set to {1, 2, 3, 4}
   ```

4. **Byte Arrays** (`bytearray`):
   ```python
   b = bytearray(b"hello")
   b[0] = ord('H')  # Modifies the original bytearray to bytearray(b'Hello')
   ```

### Summary

- **Immutable Data Types**: `int`, `float`, `complex`, `bool`, `str`, `tuple`, `frozenset`
- **Mutable Data Types**: `list`, `dict`, `set`, `bytearray`

Understanding whether a data type is mutable or immutable is important because it affects how variables and objects behave when they are passed to functions, assigned to new variables, or modified. Mutable types can be changed in place, which can lead to side effects if not handled carefully, while immutable types provide stability and predictability.

## String Properties
It's important to note that strings have an important property known as *immutability*. This means that once a string is created, the elements within it can not be changed or replaced. For example:

In [ ]:
s

In [ ]:
# Let's try to change the first letter to 'x'
s[0] = 'x'

In [ ]:
# however we could create a new variable or overwrite s to make the change
new_s = 'x' + s[1:]
print(new_s)

Notice how the error tells us directly what we can't do, change the item assignment!

Something we *can* do is concatenate strings!

In [ ]:
s

In [ ]:
# Concatenate strings!
s + ' concatenate me!'

In [ ]:
# We can reassign s completely though!
s = s + ' concatenate me!'

In [ ]:
print(s)

In [ ]:
s

We can use the multiplication symbol to create repetition!

In [ ]:
letter = 'z'

In [ ]:
letter*10

## Basic Built-in String methods

Objects in Python usually have built-in methods. These methods are functions inside the object (we will learn about these in much more depth later) that can perform actions or commands on the object itself.

In Python, a method is a function that is associated with an object and is defined within a class. Methods operate on instances of the class (i.e., objects) and can access and modify the object's attributes. They are a fundamental part of object-oriented programming in Python.

In order to look at what methods are available for an object in Python, there are a few available...methods:

1 - tab/pause complete

2 - dir()

3 - help()

In [ ]:
# 1. tab or pause complete
s.

In [ ]:
# 2. dir()
dir(s)

In [ ]:
# 3. help()
help(s.capitalize)

In [ ]:
# Upper Case a string
s.upper()

In [ ]:
s

In [ ]:
# Lower case
s.lower()

In [ ]:
# Split a string by blank space (this is the default)
s.split()

In [ ]:
# Split by a specific element (doesn't include the element that was split on)
s.split('W')

In [ ]:
# ?
s.endswith?

In [ ]:
s.endswith('!')

In [ ]:
s.endswith('?')

In [ ]:
print?

In [ ]:
help(print)

## Part 1 Exercises

1. **Assigning Strings**:
   - Assign the string `"Hello, World!"` to a variable named `greeting` and print it.

In [ ]:
# Assign the string `"Hello, World!"` to a variable named `greeting` and print it.



2. **Naming Conventions**:
   - Assign the string `"Python Programming"` to a variable with a name that follows proper naming conventions and print it.

3. **Concatenation**:
   - Create two string variables, `first_name` and `last_name`, and concatenate them to form a full name variable, then print that variable.



4. **Repetition**:
   - Create a string variable `text` with the value `"Python"` and print it repeated 5 times, two different ways.

5. **Basic Slicing**:
   - Given the string `s = "Hello, World!"`, print the substring `"Hello"`.

6. **Negative Indexing**:
   - Given the string `s = "Hello, World!"`, print the substring `"World"` using negative indexing.
   - Then, print "World" backwards.

7. **Skipping Characters**:
   - Given the string `s = "abcdefghijklmnopqrstuvwxyz"`, print every third character, starting from 'd'.

8. **Immutability**:
   - Given the string `s = "immutable"`, try changing the first character to `"I"` and explain why it fails.
   - Then, find a way to print Immutable while also utilizing the original variable s.

9. **f-Strings**:
   - Use an f-string to format and print the variables `name = "Alice"` and `age = 30` in the sentence `"Alice is 30 years old."`.



10. **str.format() Method**:
    - Use the `str.format()` method to print the same sentence as above.



11. **Use str()**:
    - Find the documentation of the str() function. Use it to convert a = 5 to a string.

12. **Uppercase Conversion**:
    - Convert the string `s = "hello"` to uppercase and print it.



13. **Finding a Substring**:
    - Given the string `s = "hello, world"`, find the index of the substring `"world"` and print it.



14. **Replacing Substrings**:
    - Replace the substring `"world"` with `"Python"` in the string `s = "hello, world"` and print the result.



15. **Splitting a String**:
    - Split the string `s = "one, two, three"` by commas and print the resulting list.



16. **Joining Strings**:
    - Join the list `['one', 'two', 'three']` into a single string separated by hyphens and print it.

17. **Printing Variables**:
    - Create a variable `message` with the value `"Hello, World!"` and print it using the `print()` function.



18. **Multi-line Strings**:
    - Create a multi-line string using triple quotes and print it.

19. **Checking Prefix**:
    - Check if the string `s = "Python Programming"` starts with `"Python"` and print the result.

20. **String Reversal**:
    - Write a code snippet to reverse the string `s = "abcdef"` and print the reversed string.

# PART 2 - Lists and Dictionaries

# Lists

Lists are constructed with brackets [] and commas separating every element in the list.

Let's go ahead and see how we can construct lists!

In [ ]:
# Assign a list to an variable named my_list
my_list = [1,2,3]

We just created a list of integers, but lists can actually hold different object types. For example:

In [ ]:
my_list = ['A string',23,100.232,'o']

Just like strings, the len() function will tell you how many items are in the sequence of the list.

In [ ]:
len(my_list)

### Indexing and Slicing
Indexing and slicing for lists work just like in strings. Let's make a new list to remind ourselves of how this works:

In [ ]:
my_list = ['one','two','three',4,5]

In [ ]:
# Grab element at index 0
my_list[0]

In [ ]:
# Grab index 1 and everything past it
my_list[1:]

In [ ]:
# Grab everything UP TO third item (through index 2)
my_list[:3]

We can also use + to concatenate lists, just like we did for strings.

In [ ]:
my_list + ['new item']

Note: This doesn't actually change the original list!

Why?

In Python, concatenation is treated as a means to create a new variable. Without variable assignment, the original list will remain unchanged.

In [ ]:
my_list

You would have to reassign the list to make the change permanent.

In [ ]:
# Reassign
my_list = my_list + ['add new item permanently']

In [ ]:
my_list

We can also use the * for a duplication method similar to strings:

In [ ]:
# Make the list double
my_list * 2

In [ ]:
# Again doubling not permanent
my_list

## Basic List Methods

If you are familiar with another programming language, you might start to draw parallels between arrays in another language and lists in Python. Lists in Python however, tend to be more flexible than arrays in other languages for a two good reasons:

1) they have no fixed size (meaning we don't have to specify how big a list will be)

2) they have no fixed type constraint (like we've seen above).

Let's go ahead and explore some more special methods for lists:

In [ ]:
# Create a new list
list1 = [1,2,3]

print(list1)

Use the **append** method to permanently add an item to the end of a list:

In [ ]:
# Append
list1.append('append me!')

In [ ]:
# Show
list1

Use **pop** to "pop off" an item from the list. By default pop takes off the last index (-1), but you can also specify which index to pop off. Let's see an example:

In [ ]:
# Pop off the 0 indexed item
list1.pop(0)

In [ ]:
# Show

# the first item was removed!
list1

In [ ]:
# Assign the popped element, remember default popped index is -1
popped_item = list1.pop()

In [ ]:
popped_item

In [ ]:
# Show remaining list
list1

It should also be noted that lists indexing will return an error if there is no element at that index (just like for strings). For example:

In [ ]:
list1[100]

We can use the **sort** method and the **reverse** methods to also effect your lists:

In [ ]:
new_list = ['a','e','x','b','c']

In [ ]:
#Show
new_list

In [ ]:
# Use reverse to reverse order (this is permanent!)
new_list.reverse()

In [ ]:
new_list

In [ ]:
# Use sort to sort the list (in this case alphabetical order, but for numbers it will go ascending)
new_list.sort()

In [ ]:
new_list

You can also have a list of lists:

In [ ]:
list_of_lists = ['z', 'y', 'x']

list_of_lists.append(new_list)

list_of_lists

To slice a list within a list, make sure you have the index right!

In [ ]:
list_of_lists[3][1] # to get inside the internal list

Let's look at available methods for lists:

In [ ]:
dir(new_list)

More to come on this but when using the dir() function on an object, all methods are returned (even ones you are probably not interested in). Public methods are intended to be used by anyone and DO NOT include the double underscores before and after the method name.

In our case, we are only interested in append, clear, copy, count, extend, index, insert, pop, remove, reverse, and sort to manipulate a list.

# Dictionaries

A Python dictionary consists of a key and then an associated value. That value can be almost any Python object.


## Constructing a Dictionary
Let's see how we can construct dictionaries to get a better understanding of how they work!

In [ ]:
# Make a dictionary with {} and : to signify a key and a value
my_dict = {'key1':'value1','key2':'value2'}

In [ ]:
# Call values by their key
my_dict['key2']

Dictionaries are very flexible in the data types they can hold. However, keys of a dictionary can only be immutable data types (unlike the values).

Examples of Valid Keys: Strings, numbers, tuples (with immutable elements), and frozen sets.
Examples of Invalid Keys: Lists, dictionaries, and sets.

In [ ]:
my_dict = {'key1':123,'key2':[12,23,33],'key3':['item0','item1','item2']}

In [ ]:
# Let's call items from the dictionary
my_dict['key3']

In [ ]:
# Can call an index on that value
my_dict['key3'][0]

In [ ]:
# Can then even call methods on that value
my_dict['key3'][0].upper()

In [ ]:
# however again, the value itself is not changed
my_dict['key3'][0]

In [ ]:
# to change the value, we would need to reassign it in the same spot
my_dict['key3'][0] = my_dict['key3'][0].upper()

my_dict['key3'][0]

We can affect the values of a key as well. For instance:

We can also create keys by assignment. For instance if we started off with an empty dictionary, we could continually add to it:

In [ ]:
# Create a new dictionary
d = {}

In [ ]:
# Create a new key through assignment
d['animal'] = 'Dog'

In [ ]:
# Can do this with any object
d['answer'] = 42

In [ ]:
#Show
d

## A few Dictionary Methods

There are a few methods we can call on a dictionary. Let's get a quick introduction to a few of them:

In [ ]:
# Create a typical dictionary
d = {'key1':1,'key2':2,'key3':3}

In [ ]:
# Method to return a list of all keys
d.keys()

In [ ]:
# Method to grab all values
d.values()

In [ ]:
# Method to return tuples of all items  (we'll learn about tuples soon)
d.items()

In [ ]:
dir(d)

## Part 2 Exercises

In [ ]:
# Exercise 1: List Initialization
# Create a list containing the numbers from 1 to 10 and print the list.

In [ ]:
# Exercise 2: Access Elements
# Access and print the third element in the list.

In [ ]:
# Exercise 3: List Slicing
# Print the last 3 elements of the list.

In [ ]:
# Exercise 4: List Concatenation
# Concatenate the list with another list [11, 12, 13] and print the result.

In [ ]:
# Exercise 5: Dictionary Initialization
# Create a dictionary with keys 1 to 5 and their values as the cube of the keys.

In [ ]:
# Exercise 6: Access Dictionary Value
# Access and print the value for the key 4 in the dictionary from Exercise 5.

In [ ]:
# Exercise 7: Add to Dictionary
# Add a new key-value pair (6, 216) to the dictionary and print it.

In [ ]:
# Exercise 8: Remove from Dictionary
# Remove the key-value pair with key 2 from the dictionary and print the result.

In [ ]:
# Exercise 9: Dictionary Keys and Values
# Get and print the keys and values from the dictionary.

In [ ]:
# Exercise 10: Dictionary Error
# Try to create an invalid type of key and force an error in Python

# Part 3 Mutability, Tuples, Sets, Booleans, and Comparison Operators

## immutable and mutable

In Python and many other programming languages, data types are categorized as either immutable or mutable. This distinction is important because it affects how you can work with objects and data structures in your code. Here's an explanation:

### Immutable

    Definition: Immutable objects cannot be changed after they are created.
    Behavior: When you attempt to modify an immutable object, what actually happens is that a new object is created with the new value. The original object remains unchanged.
    Examples:
        int, float, bool, str, tuple: These basic data types in Python are immutable.
        String: If you concatenate some text to a string, Python creates a new string with the combined text because strings are immutable.
        Tuple: Once a tuple is created, you cannot add, remove, or change its elements.

### Mutable

    Definition: Mutable objects can be changed after they are created.
    Behavior: You can change, add, or remove items of a mutable object. This is done in-place without creating a new object (unless you explicitly do so).
    Examples:
        list, dict, set: These are examples of mutable data types.
        List: You can add, remove, or modify items in a list. The changes are made to the same list object in memory.
        Dictionary: You can add new key-value pairs to a dictionary or change the value of an existing key.

### Implications in Programming

    Memory Usage: Mutable objects can be more memory efficient because they allow in-place modifications.
    Performance Considerations: Operations on immutable objects can be slower in scenarios that involve large data sets or frequent modifications because they involve creating new objects.
    Safety: Immutable objects are inherently thread-safe and easier to reason about, as their state cannot change. This is useful in concurrent programming.
    Function Arguments: Understanding mutability is important when passing objects as arguments to functions. Modifying a mutable object within a function affects the object outside the function as well.

## Tuples

In Python, tuples are very similar to lists, however, unlike lists they are *immutable* meaning they can not be changed. You would use tuples to present things that shouldn't be changed, such as days of the week, or dates on a calendar.

### Constructing Tuples

The construction of a tuples use () with elements separated by commas. For example:

In [ ]:
# Create a tuple
t = (1,2,3)

In [ ]:
# Check len just like a list
len(t)

In [ ]:
# Can also mix object types
# we are reassigning the variable t completely
t = ('one',2)

# Show
t

In [ ]:
# Use indexing just like we did in lists
t[0]

In [ ]:
# Slicing just like a list
t[-1]

## Basic Tuple Methods

Tuples have built-in methods, but not as many as lists do.

In [ ]:
# Use .index to enter a value and return the index
t.index('one')

In [ ]:
# Use .count to count the number of times a value appears
t.count('one')

In [ ]:
dir(t)

## Immutability

tuples are immutable.

In [ ]:
t[0]= 'change'

Because of this immutability, tuples can't grow. Once a tuple is made we can not add to it.

In [ ]:
t.append('nope')

## When to use Tuples

tuples are not used as often as lists in programming, but are used when immutability is necessary. If in your program you are passing around an object and need to make sure it does not get changed, then a tuple becomes your solution.

## Set and Booleans

There are two other object types in Python: Sets and Booleans.

### Sets

Sets are an unordered collection of *unique* elements. We can construct them by using the set() function.

In [ ]:
x = set()

In [ ]:
# We add to sets with the add() method
x.add(1)

In [ ]:
#Show
x

In [ ]:
# Add a different element
x.add(2)

In [ ]:
#Show
x

In [ ]:
# Try to add the same element
x.add(1)

In [ ]:
#Show
x

Notice how it won't place another 1 there. That's because a set is only concerned with unique elements! We can cast a list with multiple repeat elements to a set to get the unique elements. For example:

In [ ]:
# Create a list with repeats
list1 = [1,1,2,2,3,4,5,6,1,1]

In [ ]:
# Cast as set to get unique values
set(list1)

Another unique attributes of sets is that they DO NOT MAINTAIN THEIR ORDER OF ELEMENT. Meaning, if you use a set, the order might be different every time. For example:

In [ ]:
my_set = {3, 1, 2}
print(my_set)  # Output might be {1, 2, 3} or {3, 2, 1}; however google colab displays ordered

Proof that sets are unordered in Python - there is no direct way to index a set:

In [ ]:
x[0]

In [ ]:
# instead convert to a list and then print the first element
# again, Google Colab orders the output and shouldn't be relied upon
my_set = {3, 1, 2}
my_list = list(my_set)
print(my_list[0])

* Sets do not maintain order and their elements are unordered.
* Lists maintain the order of elements and allow duplicates.
* Dictionaries (Python 3.7+) maintain the order of keys as inserted.

### Booleans

Python  comes with Booleans (with predefined True and False displays that are basically just the integers 1 and 0). It also has a placeholder object called None.

In [ ]:
# Set object to be a boolean
a = True

In [ ]:
#Show
a

In [ ]:
# Output is boolean
1 > 2

We can use None as a placeholder for an object that we don't want to reassign yet:

In [ ]:
# None placeholder
b = None

In [ ]:
# Show
print(b)

In [ ]:
b

# Comparison Operators

These operators will allow us to compare variables and output a Boolean value (True or False).

If you have any sort of background in Math, these operators should be very straight forward.

First we'll present a table of the comparison operators and then work through some examples:

<h2> Table of Comparison Operators </h2><p>  In the table below, a=3 and b=4.</p>

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td>(a != b) is true</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

Let's now work through quick examples of each of these.

#### Equal

In [ ]:
2 == 2

In [ ]:
1 == 0

Note that <code>==</code> is a <em>comparison</em> operator, while <code>=</code> is an <em>assignment</em> operator.

#### Not Equal

In [ ]:
2 != 1

In [ ]:
2 != 2

#### Greater Than

In [ ]:
2 > 1

In [ ]:
2 > 4

#### Less Than

In [ ]:
2 < 4

In [ ]:
2 < 1

#### Greater Than or Equal to

In [ ]:
2 >= 2

In [ ]:
2 >= 1

#### Less than or Equal to

In [ ]:
2 <= 2

In [ ]:
2 <= 4

# Part 3 Exercises

From memory, write a brief description of all the following Object Types and Data Structures we've learned about. Note if they are mutable or immutable in your description:

**For the full answers, review the Jupyter notebook introductions of each topic!**

* Numbers

* Strings

* Lists

* Tuples

* Dictionaries

* Sets

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5)
    
    What is the value of the expression 4 * 6 + 5
    
    What is the value of the expression 4 + 6 * 5

What would you use to find a number’s square root, as well as its square? Provide an example in Python.

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

Reverse the string 'hello' using slicing:

Given the string 'hello', give two methods of producing the letter 'o' using indexing.

## Lists

Build this list [0,0,0] two separate ways.

Sort the list below:

In [ ]:
list4 = [5,3,4,6,1]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [ ]:
# Create a dictionary with different types of elements
my_dict = {
    "string_key": "hello",            # String value
    42: 3.14,                         # Integer key and float value
    (1, 2): [1, 2, 3],                # Tuple key and list value
    frozenset([1, 2, 3]): "frozen",   # Frozenset key and string value
    "boolean_key": True,              # Boolean value
    7.5: None,                        # Float key and None value
}

## Tuples

What is the major difference between tuples and lists?

Your answer:

How do you create a tuple?

In [ ]:
# provide an example

## Sets

What is unique about a set?

Your answer:

Use a set to find the unique values of the list below:

In [ ]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]

In [ ]:
# your answer here

## Booleans

For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [ ]:
# Answer before running cell
# your answer:
2 > 3

In [ ]:
# Answer before running cell
# your answer:
3 <= 2

In [ ]:
# Answer before running cell
# your answer:
3 == 2.0

In [ ]:
# Answer before running cell
# your answer:
3.0 == 3

In [ ]:
# Answer before running cell
# your answer:
4**0.5 != 2

What is the boolean output of the cell block below?

In [ ]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']

# your answer:

##### Index Method Practice

In [ ]:
# Find and display on the screen which character occupies the fifth position within the following word: "computer"

In [ ]:
# Find and display the index of the first occurrence of the word "practice" in the following sentence:
# "In theory, theory and practice are the same. In practice, they are not."
# hint: look at the available methods for string
string = "In theory, theory and practice are the same. In practice, they are not."

In [ ]:
# Find and display the index of the last occurrence of the word "practice" in the following sentence:
# "In theory, theory and practice are the same. In practice, they are not."
# hint: look at the available methods for string

##### Extracting Sub-Strings Practice

In [ ]:
# Extract the first word of the following sentence using slicing, and display it on the screen:
# "Controlling complexity is the essence of programming"

#### String Methods Practice

In [ ]:
# Print the following text in uppercase, using the specific string method:
# "Especially in electronic communications, writing in all caps is equivalent to yelling."

In [ ]:
# Replace in the following sentence:
# "If the implementation is hard to explain, it might be a bad idea."
# the following pairs of words:
#     "hard" --> "easy"
#     "bad" --> "good"
# and display the sentence with both words modified.

#### Lists Practice

In [ ]:
# Create and print a list with 5 elements, inside the variable my_list.
# The elements can be of different types, including strings, booleans, numbers, etc.

In [ ]:
# Add the element "motorcycle" to the following list of trips:
# trips = ["plane", "car", "ship", "bicycle"]

#### Tuples Practice:

In [ ]:
# Use a tuple method to count the number of times the value 2 appears in the following tuple,
# and display the result (integer) on the screen:
# my_tuple = (1, 2, 3, 2, 3, 1, 3, 2, 3, 3, 3, 1, 3, 2, 2, 1, 3, 2)

In [ ]:
# Convert the following tuple to a list, and store it in a variable called my_list.
# my_tuple = (1, 2, 3, 2, 3, 1, 3, 2)

In [ ]:
# Extract the elements of the following tuple into four variables: a, b, c, d
# my_tuple = (1, 2, 3, 4)

#### Sets Practice:

In [ ]:
# Join the following sets into one, called my_set_3:
# {1, 2, "three", "four"}
# {"three", 4, 5}
# hint: look at the available methods for a set

In [ ]:
# Remove a random item from the following set, using set methods.
# raffle = {"Rachel", "Monica", "Phoebe", "Joey", "Chandler", "Ross"}

In [ ]:
# Add the name Gunther to the following set, using set methods:
# raffle = {"Rachel", "Monica", "Phoebe", "Joey", "Chandler", "Ross"}

#################################################################################

#################################################################################

# PART 4 - Python Statements

Python statements are the instructions you write in a Python program to perform specific actions. In Python, unlike many other languages, the focus is on readability and simplicity. One of Python's most distinctive features is its use of indentation to mark blocks of code.

Here are some key types of statements in Python:

    Expression Statements: These are the most basic kind of statement, typically used for simple operations like assignment or evaluation. For example, a = 5 or print(a).

    Control Flow Statements: These statements control the execution of code based on certain conditions.
        if Statement: Used for conditional execution.
        for and while Loops: Used for repeating a block of code multiple times.
        break and continue: Used within loops to alter their normal behavior.
        pass: A no-operation statement that is used for syntactic purposes.

    Function and Class Definitions:
        Function Definition (def): Used to define a function.
        Class Definition (class): Used to define a class.

    Import Statements: For including external modules in your program (import, from ... import).

    Exception Handling Statements:
        try and except: Used for handling exceptions.
        raise: Used to raise an exception.
        finally: Used to define actions that must be executed under all circumstances.

## Python vs Other Languages


## Indentation

Here is some pseudo-code to indicate the use of whitespace and indentation in Python:

**Other Languages**

    if (x)
        if(y)
            code-statement;
    else
        another-code-statement;
        
**Python**
    
    if x:
        if y:
            code-statement
    else:
        another-code-statement

Note how Python is so heavily driven by code indentation and whitespace. This means that code readability is a core part of the design of the Python language.

Also notice how a semi-colon or other character is not required to mark the end of a line.

Now let's start diving deeper by coding these sort of statements in Python!

# if, elif, else Statements

<code>if</code> Statements in Python allows us to tell the computer to perform alternative actions based on a certain set of results.

Verbally, we can imagine we are telling the computer:

"Hey if this case happens, perform some action"

We can then expand the idea further with <code>elif</code> and <code>else</code> statements, which allow us to tell the computer:

"Hey if this case happens, perform some action. Else, if another case happens, perform some other action. Else, if *none* of the above cases happened, perform this action."

Let's go ahead and look at the syntax format for <code>if</code> statements to get a better idea of this:

    if case1:
        perform action1
    elif case2:
        perform action2
    else:
        perform action3

## First Example

Let's see a quick example of this:

In [ ]:
if True:
    print('It was true!')

Let's add in some else logic:

In [ ]:
x = False

if x:
    print('x was True!')
else:
    print('I will be printed in any case where x is not true')

### Multiple Branches

We write this out in a nested structure. Take note of how the <code>if</code>, <code>elif</code>, and <code>else</code> line up in the code. This can help you see what <code>if</code> is related to what <code>elif</code> or <code>else</code> statements.

here using a comparison syntax for Python.

In [ ]:
loc = 'Bank'

if loc == 'Auto Shop':
    print('Welcome to the Auto Shop!')
elif loc == 'Bank':
    print('Welcome to the bank!')
else:
    print('Where are you?')

Note how the nested <code>if</code> statements are each checked until a True boolean causes the nested code below it to run. You should also note that you can put in as many <code>elif</code> statements as you want before you close off with an <code>else</code>.

Let's create two more simple examples for the <code>if</code>, <code>elif</code>, and <code>else</code> statements:

In [ ]:
person = 'Sammy'

if person == 'Sammy':
    print('Welcome Sammy!')
else:
    print("Welcome, what's your name?")

In [ ]:
person = 'George'

if person == 'Sammy':
    print('Welcome Sammy!')
elif person =='George':
    print('Welcome George!')
else:
    print("Welcome, what's your name?")

Python will let you not include the "else" part of an if/else statement, but note that nothing will be outputted below because nothing triggered the if or elif:

In [ ]:
person = 'George'

if person == 'Sammy':
    print('Welcome Sammy!')
elif person =='Steven':
    print('Welcome George!')

## Indentation

It is important to keep a good understanding of how indentation works in Python to maintain the structure and order of your code. We will touch on this topic again when we start building out functions!