# EMSE-4197-PYTHON-BOOTCAMP - Session 2

# Part 1: Strings Continued

Strings are used in Python to record text information, such as names.

Strings in Python are actually a *sequence*, which basically means Python keeps track of every element in the string as a sequence.

## Creating a String
To create a string in Python you need to use either single quotes or double quotes. For example:

In [1]:
# Single word
'hello'

'hello'

In [2]:
# this won't print anything, remember?
a = 'string'

In [3]:
print(a)

string

In [4]:
# Entire phrase
'This is also a string'

'This is also a string'

In [5]:
# We can also use double quote
"String built with double quotes"

'String built with double quotes'

In [6]:
# Be careful with quotes!
' I'm using single quotes, but this will create an error'

SyntaxError: unterminated string literal (detected at line 2) (<ipython-input-6-da9a34b3dc31>, line 2)

The reason for the error above is because the single quote in <code>I'm</code> stopped the string. You can use combinations of double and single quotes to get the complete statement.

In [7]:
# Be careful with quotes!
"I'm using single quotes, but this won't create an error"

"I'm using single quotes, but this won't create an error"

In [8]:
# Be careful with quotes!
' I"m using single quotes, but this won"t create an error'

' I"m using single quotes, but this won"t create an error'

Now let's learn about printing strings!

## Printing a String

Using Jupyter notebook with just a string in a cell will automatically output strings, but the correct way to display strings in your output is by using a print function.

In [9]:
# We can simply declare a string
'Hello World'

'Hello World'

In [10]:
# Note that we can't output multiple strings this way
'Hello World 1'
'Hello World 2'

'Hello World 2'

We can use a print statement to print a string.

In [11]:
print('Hello World 1')
print('Hello World 2')
print('Use \n to print a new line')
print('\n')
print('See what I mean?')

Hello World 1
Hello World 2
Use
 to print a new line


See what I mean?

## String Basics

We can also use a function called len() to check the length of a string!

Len documentation: https://docs.python.org/3/library/functions.html#len

In [12]:
len('Hello World')

11

Python's built-in len() function counts all of the characters in the string, including spaces and punctuation.

## String Indexing
We know strings are a sequence, which means Python can use indexes to call parts of the sequence. Let's learn how this works.

In Python, we use brackets <code>[]</code> after an object to call its index. We should also note that INDEXING STARTS at 0 for Python. Let's create a new object called <code>s</code> and then walk through a few examples of indexing.

In [13]:
# Assign s as a string
s = 'Hello World'

In [14]:
#Check
print(s)

Hello World

Let's start indexing!

In [15]:
# Show first element (in this case a letter)
s[5]

' '

In [16]:
s[1]

'e'

In [17]:
s[2]

'l'

In [18]:
s[40]

IndexError: string index out of range

### String Slicing

We can use a

```
string[start:stop:step]
```


to perform *slicing* which grabs everything up to a designated point.

Parameters

start: The index where the slice begins. If omitted, the slice starts from the beginning of the string.

stop: The index where the slice ends (not inclusive). If omitted, the slice goes until the end of the string.

step: The step value specifies the increment between each index for the slice. If omitted, the default is 1.

In [19]:
# Grab everything past the first term all the way to the length of s which is len(s)
s[1:]

'ello World'

In [20]:
# Note that there is no change to the original s. We are just grabbing and displaying what we want
s

'Hello World'

In [22]:
# Grab everything UP TO the 3rd index
s[:4]

'Hell'

Note the above slicing. Here we're telling Python to grab everything from 0 up to 3. It doesn't include the 3rd index. You'll notice this a lot in Python, where statements and are usually in the context of "up to, but not including".

In [23]:
# start at the beginning
# end at character 10
# step every 1 character (so don't skip any)
s[0:11:1]

'Hello World'

In [24]:
# gimme every other character
s[0:11:2]

'HloWrd'

If end points are not specified, it is assumed you want everything.

In [25]:
#Everything
s[:]

'Hello World'

We can also use negative indexing to go backwards.

In [26]:
# Last letter (one index behind 0 so it loops back around)
# will return the LAST character in the string
s[-1]

'd'

In [27]:
# Grab everything but the last letter
s[:-1]

'Hello Worl'

Why? The slice s[:-1] in Python means "take all elements of the string s from the beginning up to, but not including, the last character."

We can also use index and slice notation to grab elements of a sequence by a specified step size (the default is 1). For instance we can use two colons in a row and then a number specifying the frequency to grab elements. For example:

In [28]:
# Grab everything, but go in steps size of 1
s[::1]

'Hello World'

In [29]:
# Grab everything, but go in step sizes of 2
s[::2]

'HloWrd'

In [30]:
# We can use this to print a string backwards
# when specifying steps, positive means forward and negative means reverse
s[::-1]

'dlroW olleH'

## Mutability

In Python, data types can be categorized as mutable or immutable based on whether their values can be changed after they are created.

### Immutable Data Types

Immutable data types are those whose values cannot be modified after they are created. Any operation that changes the value of an immutable object will create a new object.

1. **Numbers**:
   - `int`
   - `float`
   - `complex`
   - `bool`
   ```python
   a = 5
   a = a + 1  # Creates a new int object with value 6
   ```

2. **Strings** (`str`):
   ```python
   s = "hello"
   s = s + " world"  # Creates a new string object "hello world"
   ```

3. **Tuples** (`tuple`):
   ```python
   t = (1, 2, 3)
   t = t + (4,)  # Creates a new tuple (1, 2, 3, 4)
   ```

4. **Frozen Sets** (`frozenset`):
   ```python
   fs = frozenset([1, 2, 3])
   # fs.add(4)  # This would raise an AttributeError
   ```

### Mutable Data Types

Mutable data types are those whose values can be changed after they are created. These types allow for in-place modification.

1. **Lists** (`list`):
   ```python
   lst = [1, 2, 3]
   lst.append(4)  # Modifies the original list to [1, 2, 3, 4]
   ```

2. **Dictionaries** (`dict`):
   ```python
   d = {"a": 1, "b": 2}
   d["c"] = 3  # Modifies the original dictionary to {'a': 1, 'b': 2, 'c': 3}
   ```

3. **Sets** (`set`):
   ```python
   s = {1, 2, 3}
   s.add(4)  # Modifies the original set to {1, 2, 3, 4}
   ```

4. **Byte Arrays** (`bytearray`):
   ```python
   b = bytearray(b"hello")
   b[0] = ord('H')  # Modifies the original bytearray to bytearray(b'Hello')
   ```

### Summary

- **Immutable Data Types**: `int`, `float`, `complex`, `bool`, `str`, `tuple`, `frozenset`
- **Mutable Data Types**: `list`, `dict`, `set`, `bytearray`

Understanding whether a data type is mutable or immutable is important because it affects how variables and objects behave when they are passed to functions, assigned to new variables, or modified. Mutable types can be changed in place, which can lead to side effects if not handled carefully, while immutable types provide stability and predictability.

## String Properties
It's important to note that strings have an important property known as *immutability*. This means that once a string is created, the elements within it can not be changed or replaced. For example:

In [31]:
s

'Hello World'

In [32]:
# Let's try to change the first letter to 'x'
s[0] = 'x'

TypeError: 'str' object does not support item assignment

In [33]:
# however we could create a new variable or overwrite s to make the change
new_s = 'x' + s[1:]
print(new_s)

xello World

Notice how the error tells us directly what we can't do, change the item assignment!

Something we *can* do is concatenate strings!

In [34]:
s

'Hello World'

In [35]:
# Concatenate strings!
s + ' concatenate me!'

'Hello World concatenate me!'

In [37]:
# We can reassign s completely though!
s = s + ' concatenate me!'

In [38]:
print(s)

Hello World concatenate me!

In [39]:
s

'Hello World concatenate me!'

In [42]:
s = 'Hello World'

a = s

print(a)
print(s)

Hello World
Hello World

In [43]:
s = 42

print(a)
print(s)

Hello World
42

We can use the multiplication symbol to create repetition!

In [40]:
letter = 'z'

In [41]:
letter*10

'zzzzzzzzzz'

## Basic Built-in String methods

Objects in Python usually have built-in methods. These methods are functions inside the object (we will learn about these in much more depth later) that can perform actions or commands on the object itself.

In Python, a method is a function that is associated with an object and is defined within a class. Methods operate on instances of the class (i.e., objects) and can access and modify the object's attributes. They are a fundamental part of object-oriented programming in Python.

In order to look at what methods are available for an object in Python, there are a few available...methods:

1 - tab/pause complete

2 - dir()

3 - help()

In [45]:
s = 'Hello World'

In [46]:
s

'Hello World'

In [ ]:
# 1. tab or pause complete
s.

In [47]:
# 2. dir()
dir(s)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [49]:
# 3. help()
help(s.upper)

Help on built-in function upper:

upper() method of builtins.str instance
    Return a copy of the string converted to uppercase.

In [50]:
# Upper Case a string
s.upper()

'HELLO WORLD'

In [51]:
s

'Hello World'

In [52]:
# Lower case
s.lower()

'hello world'

In [53]:
# Split a string by blank space (this is the default)
s.split()

['Hello', 'World']

In [54]:
# Split by a specific element (doesn't include the element that was split on)
s.split('W')

['Hello ', 'orld']

In [55]:
s

'Hello World'

In [57]:
# ?
s.endswith?

In [60]:
s.endswith('d')

True

In [59]:
s.endswith('?')

False

In [61]:
print?

In [62]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

## Part 1 Exercises

1. **Assigning Strings**:
   - Assign the string `"Hello, World!"` to a variable named `greeting` and print it.

In [86]:
# Assign the string `"Hello, World!"` to a variable named `greeting` and print it.
greeting = "Hello, World!"
print(greeting)

Hello, World!



2. **Naming Conventions**:
   - Assign the string `"Python Programming"` to a variable with a name that follows proper naming conventions and print it.

In [87]:
my_string = "Python Programming"
print(my_string)

Python Programming

3. **Concatenation**:
   - Create two string variables, `first_name` and `last_name`, and concatenate them to form a full name variable, then print that variable.

In [89]:
first_name = "John"
last_name = "Doe"
full_name = first_name + " " + last_name
print(full_name)

John Doe



4. **Repetition**:
   - Create a string variable `text` with the value `"Python"` and print it repeated 5 times, two different ways.

In [94]:
text = "Python"
print(text * 5)
print(text +  text + text + text + text)

PythonPythonPythonPythonPython
PythonPythonPythonPythonPython

5. **Basic Slicing**:
   - Given the string `s = "Hello, World!"`, print the substring `"Hello"`.

In [95]:
s = "Hello, World!"
print(s[:5])

Hello

6. **Negative Indexing**:
   - Given the string `s = "Hello, World!"`, print the substring `"World"` using negative indexing.
   - Then, print "World" backwards.

In [97]:
s = "Hello, World!"
s_world = s[-6:-1]
print(s_world)
print(s_world[::-1])

World
dlroW

7. **Skipping Characters**:
   - Given the string `s = "abcdefghijklmnopqrstuvwxyz"`, print every third character, starting from 'd'.

In [98]:
s = "abcdefghijklmnopqrstuvwxyz"
print(s[3::3])

dgjmpsvy

8. **Immutability**:
   - Given the string `s = "immutable"`, try changing the first character to `"I"` and explain why it fails.
   - Then, find a way to print Immutable while also utilizing the original variable s.

In [99]:
s = "immutable"
s[0] = "I"

TypeError: 'str' object does not support item assignment

In [100]:
'I' + s[1:]

'Immutable'

9. **f-Strings**:
   - Use an f-string to format and print the variables `name = "Alice"` and `age = 30` in the sentence `"Alice is 30 years old."`.

In [101]:
name = "Alice"
age = 30
print(f"{name} is {age} years old.")

Alice is 30 years old.



10. **str.format() Method**:
    - Use the `str.format()` method to print the same sentence as above.

In [102]:
name = "Alice"
age = 30
print("{} is {} years old.".format(name, age))

Alice is 30 years old.



11. **Use str()**:
    - Find the documentation of the str() function. Use it to convert a = 5 to a string.

In [103]:
help(str)

Help on class str in module builtins:

class str(object)
 |  str(object='') -> str
 |  str(bytes_or_buffer[, encoding[, errors]]) -> str
 |
 |  Create a new string object from the given object. If encoding or
 |  errors is specified, then the object must expose a data buffer
 |  that will be decoded using the given encoding and error handler.
 |  Otherwise, returns the result of object.__str__() (if defined)
 |  or repr(object).
 |  encoding defaults to sys.getdefaultencoding().
 |  errors defaults to 'strict'.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __format__(self, format_spec, /)
 |      Return a formatted version of the string as described by format_spec.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(...)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __sizeof__(self, /)
 |      Return the size of the string in memory, in bytes.
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  capitalize(self, /)
 |      Return a capitalized version of the string.
 |
 |      More specifically, make the first character have upper case and the rest lower
 |      case.
 |
 |  casefold(self, /)
 |      Return a version of the string suitable for caseless comparisons.
 |
 |  center(self, width, fillchar=' ', /)
 |      Return a centered string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  count(...)
 |      S.count(sub[, start[, end]]) -> int
 |
 |      Return the number of non-overlapping occurrences of substring sub in
 |      string S[start:end].  Optional arguments start and end are
 |      interpreted as in slice notation.
 |
 |  encode(self, /, encoding='utf-8', errors='strict')
 |      Encode the string using the codec registered for encoding.
 |
 |      encoding
 |        The encoding in which to encode the string.
 |      errors
 |        The error handling scheme to use for encoding errors.
 |        The default is 'strict' meaning that encoding errors raise a
 |        UnicodeEncodeError.  Other possible values are 'ignore', 'replace' and
 |        'xmlcharrefreplace' as well as any other name registered with
 |        codecs.register_error that can handle UnicodeEncodeErrors.
 |
 |  endswith(...)
 |      S.endswith(suffix[, start[, end]]) -> bool
 |
 |      Return True if S ends with the specified suffix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      suffix can also be a tuple of strings to try.
 |
 |  expandtabs(self, /, tabsize=8)
 |      Return a copy where all tab characters are expanded using spaces.
 |
 |      If tabsize is not given, a tab size of 8 characters is assumed.
 |
 |  find(...)
 |      S.find(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  format(...)
 |      S.format(*args, **kwargs) -> str
 |
 |      Return a formatted version of S, using substitutions from args and kwargs.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  format_map(...)
 |      S.format_map(mapping) -> str
 |
 |      Return a formatted version of S, using substitutions from mapping.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  index(...)
 |      S.index(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  isalnum(self, /)
 |      Return True if the string is an alpha-numeric string, False otherwise.
 |
 |      A string is alpha-numeric if all characters in the string are alpha-numeric and
 |      there is at least one character in the string.
 |
 |  isalpha(self, /)
 |      Return True if the string is an alphabetic string, False otherwise.
 |
 |      A string is alphabetic if all characters in the string are alphabetic and there
 |      is at least one character in the string.
 |
 |  isascii(self, /)
 |      Return True if all characters in the string are ASCII, False otherwise.
 |
 |      ASCII characters have code points in the range U+0000-U+007F.
 |      Empty string is ASCII too.
 |
 |  isdecimal(self, /)
 |      Return True if the string is a decimal string, False otherwise.
 |
 |      A string is a decimal string if all characters in the string are decimal and
 |      there is at least one character in the string.
 |
 |  isdigit(self, /)
 |      Return True if the string is a digit string, False otherwise.
 |
 |      A string is a digit string if all characters in the string are digits and there
 |      is at least one character in the string.
 |
 |  isidentifier(self, /)
 |      Return True if the string is a valid Python identifier, False otherwise.
 |
 |      Call keyword.iskeyword(s) to test whether string s is a reserved identifier,
 |      such as "def" or "class".
 |
 |  islower(self, /)
 |      Return True if the string is a lowercase string, False otherwise.
 |
 |      A string is lowercase if all cased characters in the string are lowercase and
 |      there is at least one cased character in the string.
 |
 |  isnumeric(self, /)
 |      Return True if the string is a numeric string, False otherwise.
 |
 |      A string is numeric if all characters in the string are numeric and there is at
 |      least one character in the string.
 |
 |  isprintable(self, /)
 |      Return True if the string is printable, False otherwise.
 |
 |      A string is printable if all of its characters are considered printable in
 |      repr() or if it is empty.
 |
 |  isspace(self, /)
 |      Return True if the string is a whitespace string, False otherwise.
 |
 |      A string is whitespace if all characters in the string are whitespace and there
 |      is at least one character in the string.
 |
 |  istitle(self, /)
 |      Return True if the string is a title-cased string, False otherwise.
 |
 |      In a title-cased string, upper- and title-case characters may only
 |      follow uncased characters and lowercase characters only cased ones.
 |
 |  isupper(self, /)
 |      Return True if the string is an uppercase string, False otherwise.
 |
 |      A string is uppercase if all cased characters in the string are uppercase and
 |      there is at least one cased character in the string.
 |
 |  join(self, iterable, /)
 |      Concatenate any number of strings.
 |
 |      The string whose method is called is inserted in between each given string.
 |      The result is returned as a new string.
 |
 |      Example: '.'.join(['ab', 'pq', 'rs']) -> 'ab.pq.rs'
 |
 |  ljust(self, width, fillchar=' ', /)
 |      Return a left-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  lower(self, /)
 |      Return a copy of the string converted to lowercase.
 |
 |  lstrip(self, chars=None, /)
 |      Return a copy of the string with leading whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  partition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string.  If the separator is found,
 |      returns a 3-tuple containing the part before the separator, the separator
 |      itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing the original string
 |      and two empty strings.
 |
 |  removeprefix(self, prefix, /)
 |      Return a str with the given prefix string removed if present.
 |
 |      If the string starts with the prefix string, return string[len(prefix):].
 |      Otherwise, return a copy of the original string.
 |
 |  removesuffix(self, suffix, /)
 |      Return a str with the given suffix string removed if present.
 |
 |      If the string ends with the suffix string and that suffix is not empty,
 |      return string[:-len(suffix)]. Otherwise, return a copy of the original
 |      string.
 |
 |  replace(self, old, new, count=-1, /)
 |      Return a copy with all occurrences of substring old replaced by new.
 |
 |        count
 |          Maximum number of occurrences to replace.
 |          -1 (the default value) means replace all occurrences.
 |
 |      If the optional argument count is given, only the first count occurrences are
 |      replaced.
 |
 |  rfind(...)
 |      S.rfind(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  rindex(...)
 |      S.rindex(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  rjust(self, width, fillchar=' ', /)
 |      Return a right-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  rpartition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string, starting at the end. If
 |      the separator is found, returns a 3-tuple containing the part before the
 |      separator, the separator itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing two empty strings
 |      and the original string.
 |
 |  rsplit(self, /, sep=None, maxsplit=-1)
 |      Return a list of the substrings in the string, using sep as the separator string.
 |
 |        sep
 |          The separator used to split the string.
 |
 |          When set to None (the default value), will split on any whitespace
 |          character (including \\n \\r \\t \\f and spaces) and will discard
 |          empty strings from the result.
 |        maxsplit
 |          Maximum number of splits (starting from the left).
 |          -1 (the default value) means no limit.
 |
 |      Splitting starts at the end of the string and works to the front.
 |
 |  rstrip(self, chars=None, /)
 |      Return a copy of the string with trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  split(self, /, sep=None, maxsplit=-1)
 |      Return a list of the substrings in the string, using sep as the separator string.
 |
 |        sep
 |          The separator used to split the string.
 |
 |          When set to None (the default value), will split on any whitespace
 |          character (including \\n \\r \\t \\f and spaces) and will discard
 |          empty strings from the result.
 |        maxsplit
 |          Maximum number of splits (starting from the left).
 |          -1 (the default value) means no limit.
 |
 |      Note, str.split() is mainly useful for data that has been intentionally
 |      delimited.  With natural text that includes punctuation, consider using
 |      the regular expression module.
 |
 |  splitlines(self, /, keepends=False)
 |      Return a list of the lines in the string, breaking at line boundaries.
 |
 |      Line breaks are not included in the resulting list unless keepends is given and
 |      true.
 |
 |  startswith(...)
 |      S.startswith(prefix[, start[, end]]) -> bool
 |
 |      Return True if S starts with the specified prefix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      prefix can also be a tuple of strings to try.
 |
 |  strip(self, chars=None, /)
 |      Return a copy of the string with leading and trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  swapcase(self, /)
 |      Convert uppercase characters to lowercase and lowercase characters to uppercase.
 |
 |  title(self, /)
 |      Return a version of the string where each word is titlecased.
 |
 |      More specifically, words start with uppercased characters and all remaining
 |      cased characters have lower case.
 |
 |  translate(self, table, /)
 |      Replace each character in the string using the given translation table.
 |
 |        table
 |          Translation table, which must be a mapping of Unicode ordinals to
 |          Unicode ordinals, strings, or None.
 |
 |      The table must implement lookup/indexing via __getitem__, for instance a
 |      dictionary or list.  If this operation raises LookupError, the character is
 |      left untouched.  Characters mapped to None are deleted.
 |
 |  upper(self, /)
 |      Return a copy of the string converted to uppercase.
 |
 |  zfill(self, width, /)
 |      Pad a numeric string with zeros on the left, to fill a field of the given width.
 |
 |      The string is never truncated.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  maketrans(...)
 |      Return a translation table usable for str.translate().
 |
 |      If there is only one argument, it must be a dictionary mapping Unicode
 |      ordinals (integers) or characters to Unicode ordinals, strings or None.
 |      Character keys will be then converted to ordinals.
 |      If there are two arguments, they must be strings of equal length, and
 |      in the resulting dictionary, each character in x will be mapped to the
 |      character at the same position in y. If there is a third argument, it
 |      must be a string, whose characters will be mapped to None in the result.

In [104]:
a = 5
b = str(a)

b

'5'

In [105]:
# note this doesn't change a
a = 5
str(a)
type(a)

int

12. **Uppercase Conversion**:
    - Convert the string `s = "hello"` to uppercase and print it.

In [107]:
s = "hello"
s = s.upper()
s

'HELLO'



13. **Finding a Substring**:
    - Given the string `s = "hello, world"`, find the index of the substring `"world"` and print it.

In [108]:
s = "hello, world"
# help(s.find)
s.find("world")

7



14. **Replacing Substrings**:
    - Replace the substring `"world"` with `"Python"` in the string `s = "hello, world"` and print the result.

In [109]:
s = "hello, world"
s = s.replace("world", "Python")
s

'hello, Python'



15. **Splitting a String**:
    - Split the string `s = "one, two, three"` by commas and print the resulting list.

In [110]:
s = "one, two, three"
s = s.split(",")
s

['one', ' two', ' three']



16. **Joining Strings**:
    - Join the list `['one', 'two', 'three']` into a single string separated by hyphens and print it.

In [111]:
s = ['one', 'two', 'three']
s = "-".join(s)
s

'one-two-three'

17. **Printing Variables**:
    - Create a variable `message` with the value `"Hello, World!"` and print it using the `print()` function.

In [112]:
message = "Hello, World!"
print(message)

Hello, World!



18. **Multi-line Strings**:
    - Create a multi-line string using triple quotes and print it.

In [113]:
string = """This is a
multi-line string.
dlkfjd
dlfjdkl
dlfkjd
dlfj"""


print(string)

This is a
multi-line string.
dlkfjd
dlfjdkl
dlfkjd
dlfj

19. **Checking Prefix**:
    - Check if the string `s = "Python Programming"` starts with `"Python"` and print the result.

In [114]:
s =  "Python Programming"
s.startswith("Python")

True

20. **String Reversal**:
    - Write a code snippet to reverse the string `s = "abcdef"` and print the reversed string.

In [85]:
s = "abcdef"
s[::-1]

'fedcba'

# PART 2 - Lists and Dictionaries

# Lists

Lists are constructed with brackets [] and commas separating every element in the list.

Let's go ahead and see how we can construct lists!

In [115]:
# Assign a list to an variable named my_list
my_list = [1,2,3]

We just created a list of integers, but lists can actually hold different object types. For example:

In [117]:
my_list = ['A string',23,100.232,'o']

Just like strings, the len() function will tell you how many items are in the sequence of the list.

In [118]:
len(my_list)

4

### Indexing and Slicing
Indexing and slicing for lists work just like in strings. Let's make a new list to remind ourselves of how this works:

In [119]:
my_list = ['one','two','three',4,5]

In [120]:
# Grab element at index 0
my_list[0]

'one'

In [121]:
# Grab index 1 and everything past it
my_list[1:]

['two', 'three', 4, 5]

In [122]:
# Grab everything UP TO third item (through index 2)
my_list[:3]

['one', 'two', 'three']

We can also use + to concatenate lists, just like we did for strings.

In [123]:
my_list + ['new item']

['one', 'two', 'three', 4, 5, 'new item']

Note: This doesn't actually change the original list!

Why?

In Python, concatenation is treated as a means to create a new variable. Without variable assignment, the original list will remain unchanged.

In [124]:
my_list

['one', 'two', 'three', 4, 5]

You would have to reassign the list to make the change permanent.

In [125]:
# Reassign
my_list = my_list + ['add new item permanently']

In [126]:
my_list

['one', 'two', 'three', 4, 5, 'add new item permanently']

We can also use the * for a duplication method similar to strings:

In [127]:
# Make the list double
my_list * 2

['one',
 'two',
 'three',
 4,
 5,
 'add new item permanently',
 'one',
 'two',
 'three',
 4,
 5,
 'add new item permanently']

In [128]:
# Again doubling not permanent
my_list

['one', 'two', 'three', 4, 5, 'add new item permanently']

## Basic List Methods

If you are familiar with another programming language, you might start to draw parallels between arrays in another language and lists in Python. Lists in Python however, tend to be more flexible than arrays in other languages for a two good reasons:

1) they have no fixed size (meaning we don't have to specify how big a list will be)

2) they have no fixed type constraint (like we've seen above).

Let's go ahead and explore some more special methods for lists:

In [129]:
# Create a new list
list1 = [1,2,3]

print(list1)

[1, 2, 3]

Use the **append** method to permanently add an item to the end of a list:

In [130]:
# Append
list1.append('append me!')

In [131]:
# Show
list1

[1, 2, 3, 'append me!']

Use **pop** to "pop off" an item from the list. By default pop takes off the last index (-1), but you can also specify which index to pop off. Let's see an example:

In [134]:
help(list.pop)

Help on method_descriptor:

pop(self, index=-1, /)
    Remove and return item at index (default last).

    Raises IndexError if list is empty or index is out of range.

In [132]:
# Pop off the 0 indexed item
list1.pop(0)

1

In [133]:
# Show

# the first item was removed!
list1

[2, 3, 'append me!']

In [135]:
# Assign the popped element, remember default popped index is -1
popped_item = list1.pop()

In [136]:
popped_item

'append me!'

In [137]:
# Show remaining list
list1

[2, 3]

It should also be noted that lists indexing will return an error if there is no element at that index (just like for strings). For example:

In [138]:
list1[100]

IndexError: list index out of range

We can use the **sort** method and the **reverse** methods to also effect your lists:

In [139]:
new_list = ['a','e','x','b','c']

In [140]:
#Show
new_list

['a', 'e', 'x', 'b', 'c']

In [141]:
# Use reverse to reverse order (this is permanent!)
new_list.reverse()

In [142]:
new_list

['c', 'b', 'x', 'e', 'a']

In [143]:
# Use sort to sort the list (in this case alphabetical order, but for numbers it will go ascending)
new_list.sort()

In [144]:
new_list

['a', 'b', 'c', 'e', 'x']

You can also have a list of lists:

In [145]:
list_of_lists = ['z', 'y', 'x']

list_of_lists.append(new_list)

list_of_lists

['z', 'y', 'x', ['a', 'b', 'c', 'e', 'x']]

To slice a list within a list, make sure you have the index right!

In [149]:
list_of_lists[3][1] # to get inside the internal list

'b'

Let's look at available methods for lists:

In [150]:
dir(new_list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

More to come on this but when using the dir() function on an object, all methods are returned (even ones you are probably not interested in). Public methods are intended to be used by anyone and DO NOT include the double underscores before and after the method name.

In our case, we are only interested in append, clear, copy, count, extend, index, insert, pop, remove, reverse, and sort to manipulate a list.

# Dictionaries

A Python dictionary consists of a key and then an associated value. That value can be almost any Python object.


## Constructing a Dictionary
Let's see how we can construct dictionaries to get a better understanding of how they work!

In [151]:
# Make a dictionary with {} and : to signify a key and a value
my_dict = {'key1':'value1','key2':'value2'}

In [152]:
# Call values by their key
my_dict['key2']

'value2'

Dictionaries are very flexible in the data types they can hold. However, keys of a dictionary can only be immutable data types (unlike the values).

Examples of Valid Keys: Strings, numbers, tuples (with immutable elements), and frozen sets.

Examples of Invalid Keys: Lists, dictionaries, and sets.

In [153]:
my_dict = {'key1':123,'key2':[12,23,33],'key3':['item0','item1','item2']}

In [156]:
# Let's call items from the dictionary
my_dict['key3']

['item0', 'item1', 'item2']

In [157]:
# Can call an index on that value
my_dict['key3'][0]

'item0'

In [158]:
# Can then even call methods on that value
my_dict['key3'][0].upper()

'ITEM0'

In [159]:
# however again, the value itself is not changed
my_dict['key3'][0]

'item0'

In [160]:
# to change the value, we would need to reassign it in the same spot
my_dict['key3'][0] = my_dict['key3'][0].upper()

my_dict['key3'][0]

'ITEM0'

In [161]:
my_dict

{'key1': 123, 'key2': [12, 23, 33], 'key3': ['ITEM0', 'item1', 'item2']}

We can affect the values of a key as well. For instance:

We can also create keys by assignment. For instance if we started off with an empty dictionary, we could continually add to it:

In [176]:
# Create a new dictionary
d = {}

In [177]:
d

{}

In [178]:
# Create a new key through assignment
d['animal'] = 'Dog'

In [179]:
d

{'animal': 'Dog'}

In [180]:
d['animal'] = 'Mango'

In [181]:
d

{'animal': 'Mango'}

In [182]:
# Can do this with any object
d['answer'] = 42

In [183]:
#Show
d

{'animal': 'Mango', 'answer': 42}

## A few Dictionary Methods

There are a few methods we can call on a dictionary. Let's get a quick introduction to a few of them:

In [185]:
# Create a typical dictionary
d = {'key1':1,'key2':2,'key3':3}

In [186]:
# Method to return a list of all keys
d.keys()

dict_keys(['key1', 'key2', 'key3'])

In [187]:
# Method to grab all values
d.values()

dict_values([1, 2, 3])

In [188]:
# Method to return tuples of all items  (we'll learn about tuples soon)
d.items()

dict_items([('key1', 1), ('key2', 2), ('key3', 3)])

In [184]:
dir(d)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

## Part 2 Exercises

In [199]:
# Exercise 1: List Initialization
# Create a list containing the numbers from 1 to 10 and print the list.
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [200]:
# Exercise 2: Access Elements
# Access and print the third element in the list.
my_list[2]

3

In [201]:
# Exercise 3: List Slicing
# Print the last 3 elements of the list.
my_list[-3:]

[8, 9, 10]

In [202]:
# Exercise 4: List Concatenation
# Concatenate the list with another list [11, 12, 13] and print the result.
my_list = my_list + [11, 12, 13]
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

In [206]:
my_example = [1, 2, 3]
small_list = [4, 5, 6]
#my_example + small_list

In [207]:
my_example.insert(1, small_list)
my_example

[1, [4, 5, 6], 2, 3]

In [208]:
# Exercise 5: Dictionary Initialization
# Create a dictionary with keys 1 to 5 and their values as the cube of the keys.
my_dict = {1: 1, 2: 8, 3: 27, 4: 64, 5: 125}
my_dict

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

In [209]:
# Exercise 6: Access Dictionary Value
# Access and print the value for the key 4 in the dictionary from Exercise 5.
print(my_dict[4])

64

In [210]:
# Exercise 7: Add to Dictionary
# Add a new key-value pair (6, 216) to the dictionary and print it.
my_dict[6] = 216
my_dict

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216}

In [211]:
# Exercise 8: Remove from Dictionary
# Remove the key-value pair with key 2 from the dictionary and print the result. Use pop.
my_dict.pop(2)
my_dict

{1: 1, 3: 27, 4: 64, 5: 125, 6: 216}

In [213]:
my_dict = {'1': 1, 2: 8, 3: 27, 4: 64, 5: 125}
my_dict.pop('1')
my_dict

{2: 8, 3: 27, 4: 64, 5: 125}

In [212]:
help(my_dict.pop)

Help on built-in function pop:

pop(...) method of builtins.dict instance
    D.pop(k[,d]) -> v, remove specified key and return the corresponding value.

    If the key is not found, return the default if given; otherwise,
    raise a KeyError.

In [214]:
# Exercise 9: Dictionary Keys and Values
# Get and print the keys and values from the dictionary.
print(my_dict.keys())
print(my_dict.values())

dict_keys([2, 3, 4, 5])
dict_values([8, 27, 64, 125])

In [215]:
# Exercise 10: Dictionary Error
# Try to create an invalid type of key and force an error in Python
my_dict[[1, 2, 3]] = 36

TypeError: unhashable type: 'list'

Help on built-in function clear:

clear(...) method of builtins.dict instance
    D.clear() -> None.  Remove all items from D.